/* Feuille de style pour exemple.html */
h1 {
	border: double darkorange 3pt;
	font-family: Arial, serif;
	font-size: 16pt;
	text-align: left;
	color: blue;
	background-color: #dbdbeb;
	margin: 10pt;
	padding: 20pt 3pt 3pt 3pt;
}

p {
    font-weight: bold;
    color: #555;
    margin-left: 20px;
}

ul {
    font-style: italic;
    color: rgb(0, 175, 0);
    /* expliquer la couleur */
    background-color: #ccc;
    /* expliquer le rendu */
    width: 50%;
}