/* Feuille de style pour Schtroumpf*/

h1 { 
     border : solid 3pt #0000AA; 
     text-align : center;
     color : #BB0000; 
     margin : 5pt;
     padding : 3pt;
     width : 50%;
     margin-left : auto;
     margin-right : auto;
     background : #B0E0E6;
   }


h2 { 
     text-decoration : underline; 
     color : #0000BB;
   }  


ul { 
    list-style-type : circle;
   }


table{
     background : #B0E0E6;
     border : solid navy;
     }

.entete{
         background : #00CEAA;
         border : solid navy;
       }
  
th{
  background : #87CEFA;
  border : solid navy;
  }
     
td {
    height : 100pt;
    border : solid gray;
   }

.GdScht:hover { 
          background : url("grandSchtroumpf.jpg") no-repeat;
          background-size : 100pt 100pt;
          font-weight : bold;
          }

.SchtALunettes:hover { 
          background : url("schtroumpfALunettes.jpg") no-repeat;
          background-size : 100pt 100pt;
          font-weight : bold;
          }

.SchtFarceur:hover { 
          background : url("schtroumpfFarceur.jpg") no-repeat;
          background-size : 100pt 100pt;
          font-weight : bold;
          }

.Schtroumpfette:hover { 
          background : url("schtroumpfette.jpg") no-repeat;
          background-size : 100pt 100pt;
          font-weight : bold;
          }

