/* Feuille de style pour Drapeau */

/* Styles pour le corps de la page */
body {
  background-image: url("collines.jpg"); /* Image de fond */
  background-repeat: no-repeat; /* Ne pas répéter l'image de fond */
  background-size: 100%; /* Taille de l'image de fond */
}

/* Styles pour les titres de niveau 1 */
h1 {
  border: solid navy 3pt; /* Bordure solide avec couleur et épaisseur spécifiées */
  text-align: center; /* Alignement du texte */
  color: navy; /* Couleur du texte */
  width: 60%; /* Largeur */
  margin-left: 10%; /* Marge à gauche */
}

/* Styles pour les titres de niveau 2 */
h2 {
  text-decoration: underline; /* Soulignement du texte */
}

/* Styles pour les éléments de liste */
li {
  margin-bottom: 20pt; /* Marge inférieure */
}

/* Styles pour les liens */
a {
  font-weight: bold; /* Poids de la police */
  font-family: "Courier New"; /* Police de caractères */
  color: fuchsia; /* Couleur du texte */
}
