/* exo-2.css */
#drapeau {
	display: grid;
	grid-template-columns: repeat(2, 300px);
	grid-template-rows: repeat(2, 300px);
}

.rouge {
	background-color: red;
}

.jaune {
	background-color: yellow;
}

.haut {
	grid-row: 1;
}

.bas {
	grid-row: 2;
}

.gauche {
	grid-column: 1 / 2;
}

.droite {
	grid-column: 2 / 3;
}