/* exo-1.css */
html {
	background-color: #999;
}

#drapeau {
	display: grid;
	grid-template-areas: "p1 p2 p3";
	width:600px;
}

.panneau {
	width : 200px;
	height: 500px;
}

.bleu {
	background-color: blue;
	grid-area: "p1";
}

.blanc {
	background-color: white;
	grid-area: "p2";
}

.rouge {
	background-color: red;
	grid-area: "p3";
}

