/* exo-3.css */
#drapeau {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 300px 300px;

	grid-template-areas: 
	"hg hd" 
	"bg bd" ;
}

.rouge {
	background-color: red;
}

.jaune {
	background-color: yellow;
}

.haut-gauche {
	grid-area: hg;
}

.bas-gauche {
	grid-area: bg;
}

.haut-droite {
	grid-area: hd;
}

.bas-droite {
	grid-area: bd;
}